In [ ]:
List = ['mathematics', 'chemistry', 1997, 2000 ]
List.append(20544)
print(List)

['mathematics', 'chemistry', 1997, 2000, 20544]

In [ ]:
List = ['mathematics', 'chemistry', 1997, 2000 ]
List.insert(2,10087)
print(List)

['mathematics', 'chemistry', 10087, 1997, 2000]

In [ ]:
List1 = [1, 2, 3]
List2 = [2, 3, 4, 5]
List1.extend(List2)
print(List1)
List2.extend(List1)
print(List2)

[1, 2, 3, 2, 3, 4, 5]
[2, 3, 4, 5, 1, 2, 3, 2, 3, 4, 5]

In [ ]:
List = [1, 2, 3, 4, 5] 
print(sum(List))

15

In [ ]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1] 
print(List.count(1))

4

#question 2

In [1]:
# Creating a Dictionary 
# with Integer Keys 
Dict = {1: 'yash', 2: 'has', 3: 'books'} 
print("\nDictionary with the use of Integer Keys: ") 
print(Dict)

Dictionary with the use of Integer Keys:
{1: 'yash', 2: 'has', 3: 'books'}

In [2]:
# Creating a Dictionary 
# with Mixed keys 
Dict = {'Name': 'john', 1: [1, 2, 3, 4]} 
print("\nDictionary with the use of Mixed Keys: ") 
print(Dict)

Dictionary with the use of Mixed Keys:
{'Name': 'john', 1: [1, 2, 3, 4]}

In [4]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict)

Empty Dictionary:
{}

In [13]:
# Creating a Dictionary 
#  each item as a Pair 
Dict = dict([(1, 'rain'), (2, 'bow')]) 
print("\nDictionary with each item as a pair: ") 
print(Dict)

Dictionary with each item as a pair:
{1: 'rain', 2: 'bow'}

In [7]:
# Creating a Dictionary 
# with dict() method 
Dict = dict({1: 'meera', 2: 'loves', 3:'krish'}) 
print("\nDictionary with the use of dict(): ") 
print(Dict)

Dictionary with the use of dict():
{1: 'meera', 2: 'loves', 3: 'krish'}

**question** ***3***

In [14]:
# Python program to 
# demonstrate sets 

# Same as {"a", "b", "c"} 
myset = set(["a", "b", "c"]) 
print(myset) 

# Adding element to the set 
myset.add("d") 
print(myset)

{'a', 'c', 'b'}
{'a', 'c', 'b', 'd'}

In [16]:
normal_set = set(["a", "b","c"]) 

print("Normal Set") 
print(normal_set)

Normal Set
{'a', 'c', 'b'}

In [17]:
 frozen_set = frozenset(["e", "f", "g"]) 

print("\nFrozen Set") 
print(frozen_set)

Frozen Set
frozenset({'f', 'g', 'e'})

In [18]:
# A Python program to 
# demonstrate adding elements 
# in a set 

# Creating a Set 
people = {"Jay", "Idrish", "Archi"} 

print("People:", end = " ") 
print(people) 

# This will add Daxit 
# in the set 
people.add("Daxit") 

# Adding elements to the 
# set using iterator 
for i in range(1, 6): 
	people.add(i) 

print("\nSet after adding element:", end = " ") 
print(people)

People: {'Archi', 'Idrish', 'Jay'}

Set after adding element: {1, 'Jay', 2, 3, 4, 5, 'Daxit', 'Archi', 'Idrish'}

In [21]:
# Python program to 
# demonstrate difference 
# of two sets 

set1 = set() 
set2 = set() 

for i in range(5): 
	set1.add(i) 

for i in range(3,9): 
	set2.add(i) 

# Difference of two sets 
# using difference() function 
set3 = set1.difference(set2) 

print(" Difference of two sets using difference() function") 
print(set3) 

# Difference of two sets 
# using '-' operator 
set3 = set1 - set2 

print("\nDifference of two sets using '-' operator") 
print(set3)

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

**question** **4**

In [22]:
#creating an empty tuple
tuple1 = ()
print(tuple1)

()

In [23]:
#Creating a tuple with a single element
tuple1 = (20.34,)
print(tuple1)

(20.34,)

In [24]:
#Creating a tuple with multiple elements
tuple1 = 20.34, 2, "Python"
print(tuple1)

(20.34, 2, 'Python')

In [25]:
#creating tuple using tuple ()
a = tuple ((38, 4.9, "FACE Prep"))
print (a)

(38, 4.9, 'FACE Prep')

In [26]:
# creating a nested tuple with two individual tuples
tuple1 = (10, 20)
tuple2 = ("Python")
tuple3 = (tuple1, tuple2)
print(tuple3)

((10, 20), 'Python')

 **question** **5**

In [32]:
  
# Creating a String  
# with single Quotes 
String1 = 'Welcome to the World'
print("String with the use of Single Quotes: ") 
print(String1)

String with the use of Single Quotes:
Welcome to the World

In [34]:
# Creating a String 
# with double Quotes 
String1 = "I'm a programmer"
print("\nString with the use of Double Quotes: ") 
print(String1)

String with the use of Double Quotes:
I'm a programmer

In [35]:
# Creating a String 
# with triple Quotes 
String1 = '''I'm a lovingperson and I live in a world of "love"'''
print("\nString with the use of Triple Quotes: ") 
print(String1)

String with the use of Triple Quotes:
I'm a lovingperson and I live in a world of "love"

In [36]:
# Creating String with triple 
# Quotes allows multiple lines 
String1 = '''oxygen 
			For 
			Life'''
print("\nCreating a multiline String: ") 
print(String1)

Creating a multiline String:
oxygen
			For
			Life

In [37]:
# Python Program to Access 
# characters of String 

String1 = "programming"
print("Initial String: ") 
print(String1) 

# Printing First character 
print("\nFirst character of String is: ") 
print(String1[0]) 

# Printing Last character 
print("\nLast character of String is: ") 
print(String1[-1])

Initial String:
programming

First character of String is:
p

Last character of String is:
g